@model IEnumerable<TaskViewModel>
@{
    ViewBag.Title = "Home";
}

<button>@Html.ActionLink("Add task", "AddTask", "Home")</button>
<button>@Html.ActionLink("Add Sub-Task", "AddSubTask", "Home")</button>

<table>
    @Html.Partial("~/Views/Shared/_HeaderTable.cshtml")

    @foreach (var task in Model)
    {
        @Html.Partial("~/Views/Shared/_TableTasks.cshtml", task)
    }
</table>
