@model IEnumerable<TaskViewModel>

@{
    ViewBag.Title = "In Progress";
}

<table>
    @Html.Partial("~/Views/Shared/_HeaderTable.cshtml")

    @foreach (var task in Model)
    {
        @Html.Partial("~/Views/Shared/_TableTasks.cshtml", task)
    }
</table>