
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to PizzApp</title>
</head>
<body>
    <h1>PizzApp</h1>
    <h3>The best pizza app for ordering pizza</h3>
    <button>Click here to order</button>
</body>
</html>
